<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="directory" value="C:\Users\dub-pauloh\Desktop\PauloExpeditors\BE - Procedures\AES\Code Lists\\Transformed\\"/>
    <add key="NCTS" value="C:\Users\dub-pauloh\Desktop\PauloExpeditors\BE - Procedures\NCTS\Codelist\Transformed\"/>
  </appSettings>
</configuration>